@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    border-radius: 0px;
  }

  body {
    @apply bg-river-white text-river-black overflow-x-hidden;
    background-color: #ffffff;
    color: #000000;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .winamp-border {
    border: 1px solid #000000;
  }
  
  .winamp-card {
    @apply bg-river-white rounded-card p-spacing-24;
    border: 1px solid #000000;
  }
  

  
  .grid-12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 24px;
  }
  
  .parallax-bg {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuB_tk96w1vKOYOQGzwRZL9sJZX7nj136mYm8DHWZuTxkTuVhLBmIaKUgxL4s6MwdTTh3Io6NWUaiTVZwZZHO8d-kjBALuYH4BVlY1s1Pxt0CRYMBvu5ROqk1NvhsoDsJo2zoqoSO89u5zwGfxzfv--LEWlhlgHd9lq5nEYTaoQ7iBq1bv4TGQpplAXClOTtgYzTrFifI2kup60scEzceFO4DZCS3M5-5MN-H7II6zsfAXlrD_gz2hzoM7b04jRWGiwDV5wdB2KFS4Fl');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

